
.CallTree {
  display: flex;
  z-index:  -1;
  margin-top: 27px;
  height: 100vh;
  position: fixed;
}

.CallTree__bar {
  background: gray;
  position: fixed;
  width: 42px;
  height: 100%;
  z-index: 1000;
}

.CallTree__list {
  padding-left: 42px;
  width: 200px;
  margin: 0.5rem;
  font-size: 0.9rem;
  display: none;
}

.CallTree__listToggle {
  display: flex;
  justify-content: center;
  color: white;
}

.CallTree__listToggle-btn {
  color: white;
  padding: 4px;
}

.CallTree__bar.CallTree--active {
  background-color: purple;
}
.CallTree__list.CallTree--active {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 2ch;
  /* padding: 0px; */
}

.liBubble {
  padding: 3px;
  transition: background-color 300ms ease-in-out;
  padding: 3px;
}

.liBubble:hover {
  background-color: var(--bg-highligth-function);
}

.pointer{
  cursor: pointer;
}

.li-container{
    display: flex;
    align-items:center;
}

.li-container:hover{
    background-color: var(--bg-highligth-function);
}

.btn-eye{
    margin: 0px 5px;
    color: var(--text-primary);
}

button{
    border: none;
}

.d-none{
    display: none;
}

.t-none{
    transition: none;
}

