.FuzzySearch__input {
  width: 450px;
  height: 30px;
  background: #e7e5dd;
  outline: none;
  border: solid 1px gray;
  border-radius: 5px;
  color: gray;
  font-size: 14px;
}

.FuzzySearch__input:focus {
  box-shadow: 0px 0px 4px 3px #e5cb77;
  transition: var(--bst-bubble);
}
