.ExpressionStatement{
    color: var(--function-call-color);
    display: flex;
    cursor: pointer;
}

.ExpressionStatement:hover{
    text-decoration: underline;
}

.ExpressionStatement__parameters{
    color: black;
    text-decoration:none;
}

.ExpressionStatement__parameters:hover{
    text-decoration: none;
}

.ExpressionStatement__parameters-value{
    color: var(--constant-color-value);
}

.OneLine{
    display: flex;
}
