.varType {
  color: var(--blue);
}

.ast-literal-string {
  color: var(--yellow);
}

.ast-literal-number {
  color: var(--magenta);
}

.ast-literal-boolean {
  color: purple;
}

.ast-variable-type {
  color: var(--keyword-color);
}

.ast-variable-name {
  color: var(--assignment-name);
  font-weight: 700;
}

.ast-CallExpression {
  color: var(--std-library-color);
  font-weight: 700;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.ast-CallExpression:hover {
  text-decoration: underline;
}

.CodeBlock__header:hover {
  background-color: var(--bg-bubble-header);
  transition: var(--bgt-bubble-header);
}

.CodeBlockHover:hover {
  box-shadow: var(--bs-bubble);
  transition: var(--bst-bubble);
}

.ast-params {
  color: #895903;
  font-style: italic;
}

.ast-call{
  padding: 3px;
}

.ast-call:hover, .ast-variable-name:hover{
  background-color: var(--bg-highligth-function);
  transition: var(--bgt-bubble-header);
}

.p3{
  padding: 3px;
}

.ast-call *:hover{
   background-color: transparent !important;
} 

