:root {
  --base-03: #002b36;
  --base-02: #073642;
  --base-00: #657b83;
  --base-2: #eee8d5;
  --base-3: #fdf6e3;
  --base-1: #93a1a1;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
  --magenta: #d33682;
  --violet: #6c71c4;
  --yellow: #b58900;
  --editor-background: var(--base-3);
  --editor-color: var(--base-02);
  --code-block-background: var(--base-3);
  --code-block-box-shadow: var(--base-1);
  --code-block-header: var(--base-03);
  --code-block-header-background: var(--base-2);
  --code-block-body: var(--base-00);
  --keyword-color: var(--green);
  --function-call-color: var(--blue);
  --std-library-color: var(--cyan);
  --assignment-name: var(--violet);
  --assignment-equal-sign: var(--base-1);
  --constant-color-value: var(--magenta);
  --constant-color-boolean: var(--yellow);
  --constant-color-number: var(--magenta);
  --constant-color-string: var(--cyan);
  --same-line-spacing: 0.25em;
  --nested-spacing: 1em;
  /**/
  --bg-highligth-function: rgba(240, 232, 24, 0.28);
  --bs-bubble: 5px 5px 6px -4px #e5cb77;
  --bst-bubble: box-shadow 300ms ease-in-out;
  --bg-bubble-header: #e5cb77;
  --bgt-bubble-header: background-color 300ms ease-in-out;
  /**/
--color-1:rgba(71, 159, 248, 0.3);
--color-2:rgba(110, 221, 202, 0.3);
--color-3:rgba(143, 214, 105, 0.3);
--color-4:rgba(249, 174, 121, 0.3);
--color-5:rgba(237, 110, 87, 0.3);
--color-6:rgba(235, 83, 159, 0.3);
--color-7:rgba(169, 129, 208, 0.3);
}

body {
  background-color: var(--editor-background);
  color: var(--editor-color);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html {
  margin: 0px;
  padding: 0px;
}

button {
    background-color: inherit;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    margin: 0px;
    outline: none;
    padding: 0px;
}

.d-flex{
  display: flex;
}
